.idea/
node_modules/
dist/
tmp/
temp/
.env
.env*.local
coverage/
*.log
*.log.json
tsconfig.tsbuildinfo
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
react-danceblue-firebase-adminsdk-*.json
compose-volumes/
%programdata%/
