:root {
  --main-bg-color: #fbfcffff;
  --important-text-color: #000000ff;
  --main-text-color: "#070c18";
  --secondary-text-color: #5c5c5cff;
  --main-accent-color: #2969c9;
  --main-accent-color-alt: #0032a0;
  --secondary-accent-color: ##ffc72c;
  --error-color: #de1a1aff;
  --warning-color: #f9d94eff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #1e2530;
    --important-text-color: #ffffff;
    --main-text-color: #e8f3ff;
    --secondary-text-color: #b3b3b3;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

header {
  background-color: var(--main-bg-color);
  padding: 1vh 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0;
}

main {
  background-color: var(--main-bg-color);
  padding: 1vh 1vw;
  flex: 1;
}

footer {
  background-color: var(--main-bg-color);
  padding: 1vh 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0;
}

a {
  color: var(--main-accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-text-color);
}

nav {
  background-color: var(--main-accent-color);
  top: 0;
  width: 100%;
  font-size: 14px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
nav ul li {
  flex: 1 1 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li a {
  color: var(--main-bg-color);
}
nav ul li img {
  height: 96px;
}

/* nav * button {
  border-radius: 0;
  width: 25vw;
} */

button {
  background-color: var(--main-accent-color);
  color: var(--main-bg-color);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
}

button:hover {
  background-color: var(--secondary-accent-color);
}

button:active {
  background-color: var(--secondary-accent-color);
  opacity: 0.8;
}

input {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: var(--main-text-color) 1px solid;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
}

textarea {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: var(--main-text-color) 1px solid;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
}

select {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: var(--main-text-color) 1px solid;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
}

input:focus,
textarea:focus,
select:focus {
  border: var(--main-accent-color) 1px solid;
}

code {
  background-color: var(--main-bg-color);
  color: var(--main-accent-color);
  font-weight: 600;
  font-family: monospace;
}

code pre {
  background-color: var(--main-bg-color);
  color: var(--main-accent-color);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}

#content {
  padding: 0 1vw;
}
