<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480114538491-3u39m2h4beemia171mtn90pucqhuet89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480114538491-3u39m2h4beemia171mtn90pucqhuet89</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>480114538491-1hrjkep7n9srf7u1dn2jg4c6rornriud.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApnjUFh6ZRF7WbEgCj9Ku6IuZRZdP7taw</string>
	<key>GCM_SENDER_ID</key>
	<string>480114538491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.danceblue.app.dev</string>
	<key>PROJECT_ID</key>
	<string>react-danceblue</string>
	<key>STORAGE_BUCKET</key>
	<string>react-danceblue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480114538491:ios:4477df1ea2e41e19a2bd5e</string>
	<key>DATABASE_URL</key>
	<string>https://react-danceblue.firebaseio.com</string>
</dict>
</plist>