/* 40% of the animation */
.ribbon .path1 {
  animation: path1 2s ease infinite;
}

/* 20& of the animation */
.ribbon .path2 {
  animation: path2 2s ease infinite;
}

/* 20& of the animation */
.ribbon .path3 {
  animation: path3 2s ease infinite;
}

/* 20& of the animation */
.ribbon .path4 {
  animation: path4 2s ease infinite;
}

@keyframes path1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes path2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes path3 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes path4 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
